<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<!--<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">-->
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-label/iron-label.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/iron-icons/places-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../bower_components/paper-styles/demo-pages.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/star-rating/star-rating.html">
<!--<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">-->
<!--<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">-->
<link rel="import" href="kudos-cards.html">
<link rel="import" href="kudos-stats.html">
<link rel="import" href="kudos-about.html">
<link rel="import" href="kudos-chatbot.html">
<dom-module id="kudos-app">
    <template>
        <style is="custom-style">
        :host {
        --app-primary-color: #094FA4; /*#4285f4;*/
        --app-secondary-color: black;
            display: block;
            height: 100vh;
        }
        app-header {
            color: #fff;
            background-color: var(--app-primary-color);
        }
        app-header paper-icon-button {
            --paper-icon-button-ink-color: white;
        }
        .logo{
            color: #9BE1FB;
        }
        paper-button.green {
          background-color: #4285f4;
          color: white;
        }
        .chatbot {
          background: #ffffff;
          height: 90vh;
        }
        </style>
        <div hidden$="{{logged}}" width="100%" style="text-align:center; margin-top:20%;">
            Bienvenid@ a Kudos, para poder dejar tu feedback debes identificarte:<br>
            <paper-button class="green" raised on-click="signInWithGoogle">
                <iron-icon icon="perm-identity"></iron-icon>
                Ingresar con mi cuenta Google
            </paper-button>
        </div>
        <div hidden$="{{!logged}}" width="100%" style="text-align:center;">
            <app-header-layout>
                <app-header fixed>
                    <app-toolbar>
                        <paper-icon-button icon="arrow-back" id="mBack" on-tap="closeChatbot" style="display:none"></paper-icon-button>
                        <div><span style="font-size: 3.5vmin;" class="logo">KUDOS</span> | [[eventName]]</div>
                        <iron-icon icon="icons:events"></iron-icon>
                        <div main-title></div>
                        <paper-icon-button icon="view-list"   id="mAgenda" title="Tarjetas"     on-tap="showCards"></paper-icon-button>
                        <paper-icon-button icon="assessment"  id="mStats"  title="Estadísticas" on-tap="showStats"></paper-icon-button>
                        <paper-icon-button icon="help"        id="mHelp"   title="Acerca de"    on-tap="showAbout"></paper-icon-button>
                        <paper-icon-button icon="exit-to-app" id="mExit"   title="Salir"        on-tap="signOut"  ></paper-icon-button>

                        <paper-tooltip for="mAgenda" position="bottom" style="max-width:100px;">Agenda</paper-tooltip>
                        <paper-tooltip for="mStats"  position="bottom" style="max-width:100px;">Estadísticas</paper-tooltip>
                        <paper-tooltip for="mHelp"   position="bottom" style="max-width:100px;">Ayuda</paper-tooltip>
                        <paper-tooltip for="mExit"   position="bottom" style="max-width:100px;">Salir</paper-tooltip>
                    </app-toolbar>
                </app-header>
                <kudos-cards id="cards" style="display:none"></kudos-cards>
                <kudos-stats id="stats" style="display:none"></kudos-stats>
                <kudos-about id="about" style="display:none"></kudos-about>
                <kudos-chatbot id="chatbot" class="chatbot" style="display:none"></kudos-chatbot>
            </app-header-layout>
        </div>
    </template>
    <script src="https://www.gstatic.com/firebasejs/3.0.4/firebase.js"></script>
    <script>
        Polymer({
            is: 'kudos-app',
            properties: {
                logged      : { type : Boolean, notify : true }, // Is Authenticated by Google?
                user        : { type : Object, notify : true },   // User Logged In
                userEmail   : { type : String, notify : true, observer : '_userEmailChanged' },
                userName    : { type : String, notify : true },
                userPicture : { type : String, notify : true },
                activeEvent : { type : String, notify : true },
                eventName   : { type : String, notify : true, value : "BBVA" }   // Event Title
            },
            _userEmailChanged:function(newVal, oldVal) {
                //console.log('_userEmailChanged newVal:'+newVal+' oldVal:'+oldVal);
            },
            ready:function() {
                //this.eventName = 'Macrocomité 4T';
                this.addEventListener('showChatbot', this.showChatbot);
                var config = {
                apiKey: "AIzaSyDCauBUnwjh-bBlSppl7v2rvalmfagNqCo",
                authDomain: "fullviajes-8cff7.firebaseapp.com",
                databaseURL: "https://fullviajes-8cff7.firebaseio.com",
                projectId: "fullviajes-8cff7",
                storageBucket: "fullviajes-8cff7.appspot.com",
                messagingSenderId: "235797074906"
  };
  firebase.initializeApp(config);
                var parent = this;
                firebase.auth().onAuthStateChanged(function(account) {
                    if (account) {
                        parent.set('user', account);
                        parent.set('userEmail', account.email);
                        parent.$.cards.userFirstName = account.displayName.split(' ')[0];
                        parent.$.cards.userEmail = account.email.toString().replace(/[@.]/g,'_');
                        parent.$.cards.userPicture = account.photoURL || '../images/avatar_login.png';
                        parent.$.cards.userName = account.displayName;
                        parent.$.chatbot.userFirstName = account.displayName.split(' ')[0];
                        parent.$.chatbot.userEmail = account.email.toString().replace(/[@.]/g,'_');
                        //console.log("account.displayName => " + account.displayName);
                        parent.set('userName', account.displayName);
                        parent.set('userPicture', account.photoURL);
                        parent.set('logged', true);
                        firebase.database().ref("eventoActivo").once("value").then(function(snapshot) {
                            var activo = snapshot.val(); //console.log('activo:'+activo);
                            parent.set('activeEvent', activo); //console.log('parent.activeEvent:', parent.activeEvent);
                            parent.$.cards.activeEvent = activo;
                            parent.$.stats.activeEvent = activo;
                            parent.$.cards.getKudos();
                            parent.$.cards.getBlocks();
                            parent.$.about.getKudos();
                            parent.$.about.getMember();
                            parent.showCards();
                            firebase.database().ref("/eventos/"+activo).once("value").then(function(snapshot) {
                                var nombre = snapshot.val().name; //console.log('nombre:'+nombre);
                                parent.set('eventName', nombre); //console.log('parent.eventName:', parent.eventName);
                            });
                        });
                    }
                });
            },
            signInWithGoogle:function() {
                if (!firebase.auth().currentUser) {
                    var provider = new firebase.auth.GoogleAuthProvider();
                    var parent = this;
                    //firebase.auth().signInWithPopup(provider).then(function(result) {
                    //    parent.set('logged', true);
                    //    parent.showCards();
                    firebase.auth().signInWithRedirect(provider);
                    firebase.auth().getRedirectResult().then(function(result) {
                      //if (result.credential) { var token = result.credential.accessToken; }
                      //var user = result.user;
                      parent.set('logged', true);
                      parent.showCards();
                    }).catch(function(error) { //error.code //error.message //error.credential
                        if (error.code === 'auth/account-exists-with-different-credential') {
                            alert('You have already signed up with a different auth provider for that email.');
                        } else {
                            console.log('error : ' + error);
                        }
                    });
                } else {
                    //firebase.auth().signOut();
                }
            },
            showCards:function() {
                if(this.logged){
                    this.$.cards.style.display = "block";
                    this.$.stats.style.display = "none";
                    this.$.about.style.display = "none";
                    this.$.chatbot.style.display = "none";
                }
            },
            showStats:function() {
                if(this.logged){
                    this.$.cards.style.display = "none";
                    this.$.stats.style.display = "block";
                    this.$.about.style.display = "none";
                    this.$.chatbot.style.display = "none";
                    this.$.stats.getCards();
                    this.$.stats.getRanking();

                }
            },
            showAbout:function() {
                if(this.logged){
                    this.$.cards.style.display = "none";
                    this.$.stats.style.display = "none";
                    this.$.about.style.display = "block";
                    this.$.chatbot.style.display = "none";
                }
            },
            showChatbot:function(event) {
                if(this.logged){
                    this.$.mBack.style.display = "block";
                    this.$.cards.style.display = "none";
                    this.$.stats.style.display = "none";
                    this.$.about.style.display = "none";
                    this.$.chatbot.style.display = "block";
                }
                this.$.chatbot.initBot(event.detail);
            },
            closeChatbot:function() {
                if(this.logged){
                    this.$.mBack.style.display = "none";
                    this.$.cards.style.display = "block";
                    this.$.stats.style.display = "none";
                    this.$.about.style.display = "none";
                    this.$.chatbot.style.display = "none";
                }
                this.$.chatbot.closeBot();
            },
            signOut:function() {
                firebase.auth().signOut();
                this.set('logged', false);
            }
        });
    </script>
</dom-module>
