<dom-module id="kudos-cards">
  <link rel="import" href="../css/kudo-style.html">
  <template>
    <style include="cards"></style>
    <!-- Bienvenida -->
    <div style="display:table">
      <img id="imgProfile" class="avatar" src="{{userPicture}}">
      <div style="display:table-cell;vertical-align:middle"> ¡Bienvenid@ {{userFirstName}}!</div>
    </div>
    <!-- Lista de Bloques -->
    <template id="arrBlocks" is="dom-repeat" items="{{blocks}}" as="block">
      <paper-card style="width:100%">
        <div class="rate-header titleProject" style="background:{{block.color}}">Bloque {{block.title}}</div>
        <!-- Lista de Tarjetas x Bloque -->
        <template id="arrCards" is="dom-repeat" items="{{_getCards(block)}}" as="card">
          <paper-card class="rate">
            <div class="rate-content">
              <div>
                <div class="rate-header titleProject" style="background:{{card.color}}">{{card.title}}</div>
                <div class="rate-name">
                  <div class="div_middle">{{card.description}}</div>
                  <div class="div_feedback">
                    <paper-button class="rate-icon bot" id="{{card.id}}" data='{{card}}' on-click="openBot" style$="display:[[card.withChat]]">
                      Pregúntanos algo<iron-icon icon="communication:live-help" data='{{card}}'></iron-icon>
                    </paper-button>
                    <paper-button class="rate-icon feeback" id="{{card.id}}" data='{{card}}' on-click="openModal">
                      Danos feedback <iron-icon icon="announcement" data='{{card}}'></iron-icon>
                    </paper-button>
                  </div>
                </div>
              </div>
              <div class="card-actions">
                <!-- Lista de Kudos X Tarjeta -->
                <template id="tmtKudo" is="dom-repeat" items="{{kudos}}" as="kudo">
                  {{getKudosUser(card.id,kudo.id)}}
                  <paper-button class="kudo" toggles  id="id_{{card.id}}_{{kudo.id}}" on-click="valorar">
                    <iron-icon icon="{{kudo.icon}}"></iron-icon> {{kudo.title}}
                  </paper-button>
                  <paper-tooltip for="id_{{card.id}}_{{kudo.id}}" position="top" style="max-width:100px;">{{kudo.title}}<br>{{kudo.description}}</paper-tooltip>
                </template>
              </div>
            </paper-card>
          </template></paper-card>
        </template>
        <!-- Popups -->
        <paper-dialog  id="bot">
          <div>
            <div style="display:inline-block;width:90% !important;align:right;">
              <b><span id="titleBot"></span></b>
            </div>
            <div style="display:inline-block;width:8% !important;align:left;">
              <paper-icon-button icon="icons:close" on-tap="closeBot"></paper-icon-button>
            </div>
          </div>
          <div>
            <div style="overflow-y:auto;height:200px !important;padding-bottom:80px;" id="chat">
              <template is="dom-repeat" items="{{mensajes}}">
                  <div class$="[[item.align]]">[[item.from]] dice: [[item.message]]</div>
              </template>
            </div>
            <div style="width:100%;margin:0px;padding:0px;">
              <div style="display:inline-block;width:80%;">
                <paper-textarea id="txtMessage" label="[[userFirstName]], ingresa tu pregunta..."></paper-textarea>
              </div>
              <div style="display:inline-block;width:15%;">
                <paper-icon-button icon="icons:send" id="btnSendMessage" on-tap="sendMessage" autofocus></paper-icon-button>
              </div>
            </div>
          </div>
        </paper-dialog>
        <iron-ajax id="api" url="https://api.api.ai/v1/query" params='{"v":"20150910"}'
          headers='{"Authorization": "Bearer 7324e6390faf48fca8c4eb7fb9cc2120","Content-Type": "application/json"}'
          method='POST' body='{{apiRequestBody}}' on-response="apiResponseHandler" handle-as="json" verbose="true" debounce-duration="300"></iron-ajax>
        <paper-dialog id="feedback" >
          <h2 id="titleFeedback">Feedback para:</h2>
          <paper-textarea id="txtFeedback" label="Ingresa tu feedback..."></paper-textarea>
          <div class="buttons">
            <paper-button id="btnFeedback" on-click="sendFeedback" autofocus>Enviar</paper-button>
            <paper-button dialog-dismiss>Cancelar</paper-button>
          </div>
        </paper-dialog>
        <paper-toast id="toastAlert" text="Gracias por tu feedback"></paper-toast>
    </template>
    <script>
      Polymer({
        is: 'kudos-cards',
        properties:{
          activeEvent     : {type:String, notify:true},
          user            : {type:Object, notify:true},
          userFirstName   : {type:String, notify:true},
          userEmail       : {type:String, notify:true},
          userName        : {type:String, notify:true},
          userPicture     : {type:String, notify:true},
          error           : {type:Object, value:null, notify:true },
          cards           : {type:Array, notify:true},
          blocks          : {type:Array, notify:true},
          kudos           : {type:Array, notify:true},
          mensajes        : {type:Array, value:function() { return []},observer:"mensajesChanged"},
          apiRequestBody  : {type:Object},
          currentCard     : {type:Object, value:function() { return {}}}
        },
        ready: function(){
          // window.setInterval(function() { var elem = document.getElementById('chat'); elem.scrollTop = elem.scrollHeight; }, 2000);
        },
        mensajesChanged: function(newVal,oldVal){
          this.$.chat.scrollTop = this.$.chat.scrollHeight;
          console.log("mensajesChanged");
        },
        apiResponseHandler: function(data) {
          var card = this.currentCard;
          //console.log("hs>", card);
          console.log("hs:", data.detail.response);
          var defaultSpeech = data.detail.response.result.fulfillment.speech;
          var ambienteSpeech = defaultSpeech.replace("||ambiente||",card.ambiente);
          var ambiente_fechaSpeech = ambienteSpeech.replace("||ambiente_fecha||",card.ambiente_fecha);
          var canalSpeech = ambiente_fechaSpeech.replace("||canal||",card.canal);
          var customerSpeech = canalSpeech.replace("||customer||",card.customer);
          var detallesSpeech = customerSpeech.replace("||detalles||",card.detalles);
          var diferenciasSpeech = detallesSpeech.replace("||diferencias||",card.diferencias);
          var limitacionesSpeech = diferenciasSpeech.replace("||limitaciones||",card.limitaciones);
          var marketingSpeech = limitacionesSpeech.replace("||marketing||",card.marketing);
          var metricaSpeech = marketingSpeech.replace("||metrica||",card.metrica);
          var objetivoSpeech = metricaSpeech.replace("||objetivo||",card.objetivo);
          var participantesSpeech = objetivoSpeech.replace("||participantes||",card.participantes);
          var tiempoSpeech = participantesSpeech.replace("||tiempo||",card.tiempo);
          var proyectoSpeech = tiempoSpeech.replace("||proyecto||",card.title);
          var newMessage = { from: card.leader, message: proyectoSpeech, align: "bot_label"};
          this.push('mensajes', newMessage);
          //console.log("apiResponseHandler: " + this.$.chat.scrollTop + " - height: " + this.$.chat.scrollHeight);
          this.$.chat.scrollTop = this.$.chat.scrollHeight;
          //console.log("2. apiResponseHandler: " + this.$.chat.scrollTop + " - height: " + this.$.chat.scrollHeight);
        },
        getKudos:function(){
          var self = this;
          firebase.database().ref('eventos/' + this.activeEvent + '/kudos').once('value').then(function(snapshot) {
            self.kudos = [];
            snapshot.forEach(function(child) {
              var kudo = child.val();
              kudo.id=child.key;
              self.push('kudos', kudo);
            });
          });
        },
        getBlocks:function(){
          var ref = firebase.database().ref("eventos/" + this.activeEvent + "/blocks");
          var self = this;
          ref.once("value").then(function(snapshot) {
            self.blocks = [];
            snapshot.forEach(function(child) {
              var block = child.val();
              self.push('blocks', block);
            });
          });
        },
        _getCards:function(block){
          this.cards = [];
          self = this;
          for (var card in block.cards) {
            var newCard = { id:card, title:block.cards[card].title, description:block.cards[card].description,
              leader:block.cards[card].leader, color:block.cards[card].color, withChat:block.cards[card].withChat };
            //parameters
            newCard.objetivo        =block.cards[card].parameters.objetivo;
            newCard.detalles        =block.cards[card].parameters.detalles;
            newCard.metrica         =block.cards[card].parameters.metrica;
            newCard.customer        =block.cards[card].parameters.customer;
            newCard.canal           =block.cards[card].parameters.canal;
            newCard.ambiente        =block.cards[card].parameters.ambiente;
            newCard.ambiente_fecha  =block.cards[card].parameters.ambiente_fecha;
            newCard.tiempo          =block.cards[card].parameters.tiempo;
            newCard.participantes   =block.cards[card].parameters.participantes;
            newCard.diferencias     =block.cards[card].parameters.diferencias;
            newCard.limitaciones    =block.cards[card].parameters.limitaciones;
            newCard.marketing       =block.cards[card].parameters.marketing;
            self.push('cards', newCard);
          }
          return this.cards;
        },
        openBot:function(e){
          var btnCard = Polymer.dom(e).localTarget;
          var card = btnCard.data; this.currentCard = card;
          var self=this;
          this.$.txtMessage.value="";
          this.$.btnSendMessage.data=card.id;
          this.$.titleBot.innerHTML=card.title;
          this.$.bot.open();
          var query = "Iniciar con " + this.userFirstName + " en " +card.id;
          //console.log("hs>", query);
          //query = utf8_encode(query);
          //console.log("hs>", query);
          query = query.replace("á", "a"); query = query.replace("Á", "A");
          query = query.replace("é", "e"); query = query.replace("É", "E");
          query = query.replace("í", "i"); query = query.replace("Í", "I");
          query = query.replace("ó", "o"); query = query.replace("Ó", "O");
          query = query.replace("ú", "u"); query = query.replace("Ú", "U");
          query = query.replace("ñ", "n"); query = query.replace("Ñ", "N");
          this.set("apiRequestBody", { query : [ query ], lang: "es", sessionId: this.userEmail});
          console.log("hs>", this.apiRequestBody);
          this.$.api.generateRequest();
        },
        openModal:function(e){
          var btnCard = Polymer.dom(e).localTarget;
          var card = btnCard.data;
          var self=this;
          this.$.txtFeedback.value="";
          this.$.btnFeedback.data=card.id;
          this.$.titleFeedback.innerHTML="Feedback para:<br>" + card.title;
          this.$.feedback.open();
          var ref = firebase.database().ref("eventos/" + this.activeEvent + "/users/" + this.userEmail+ "/"+ card.id + "/comments");
          ref.once('value').then(function(snapshot) {
            var msg="";
            if(snapshot.val()!=null){
              msg=snapshot.val().message;
            }
            self.$.txtFeedback.value=msg;
          });
        },
        sendMessage:function(){
          var newMessage = { from: this.userFirstName, message: this.$.txtMessage.value, align: "human_label"};
          this.push('mensajes', newMessage);
          var query = this.$.txtMessage.value;
          query = query.replace("á", "a"); query = query.replace("Á", "A");
          query = query.replace("é", "e"); query = query.replace("É", "E");
          query = query.replace("í", "i"); query = query.replace("Í", "I");
          query = query.replace("ó", "o"); query = query.replace("Ó", "O");
          query = query.replace("ú", "u"); query = query.replace("Ú", "U");
          query = query.replace("ñ", "n"); query = query.replace("Ñ", "N");
          this.set("apiRequestBody", { query : [ query ], lang: "es", sessionId: this.userEmail});
          this.$.api.generateRequest();
          this.$.txtMessage.value = "";
        },
        closeBot:function(){
          this.set('mensajes', []);
          this.$.bot.close();
        },
        sendFeedback:function(){
          var db = firebase.database();
          var idCard=this.$.btnFeedback.data;
          console.log(idCard);
          var msg=this.$.txtFeedback.value;
          if(msg.trim().length==0){this.$.feedback.close();return;}
          var ref = db.ref("eventos/" + this.activeEvent + "/users/" + this.userEmail);
          var postData = {
            //author: this.userUid,
            message: msg
          };
          var userData = {
            name: this.userName,
            picture: this.userPicture
          };
          //var newPostKey = ref.child('comments').push().key;
          var updates = {};

          updates["/" +idCard + "/comments"] = postData;
          updates["/profile"] = userData;
          ref.update(updates);
          this.$.txtFeedback.value="";
          this.$.feedback.close();
          this.$.toastAlert.open();
        },
        valorar:function(e) {
          var kudoSeleccionado = e.model['__data__'];
          var idKudo = kudoSeleccionado.kudo.id;
          var idCard = kudoSeleccionado.card.id;
          var idBtnKudo=this.$$('#id_' +idCard +'_' +idKudo);
          var voto = 1;
          if (!idBtnKudo.active){
            voto = -1;
          }
          var refControl = firebase.database().ref('eventos/' + this.activeEvent +'/users').child(this.userEmail);
          if(voto > 0) {
            var updates = {};
            updates["/" + idCard + "/kudos/" + idKudo] = true;
            var userData = {
              name: this.userName,
              picture: this.userPicture
            };
            updates["/profile"] = userData;
            refControl.update(updates);
          } else {
            firebase.database().ref('eventos/' + this.activeEvent +'/users').child(this.userEmail).child(idCard).child('kudos').child(idKudo).remove();
          }
        },
        getKudosUser:function(idCard,idKudo){
          self=this;
          var ref = firebase.database().ref("eventos/" + this.activeEvent + "/users/" + this.userEmail + "/" + idCard + "/kudos/" + idKudo);
          ref.once('value').then(function(snapshot) {
            if(snapshot.val()!=null){
                self.$$('#id_' +idCard +'_' +idKudo).active=snapshot.val();
            }
          });
        }
      });
    </script>
</dom-module>
