<dom-module id="kudos-stats">
<link rel="import" href="../css/kudo-style.html">
<template id="tmpkudoStats">
   <style include="cards"></style>
   <style include="stats"></style>
    <div class="card">
      <h1>Resultados macrocomité 4T</h1>
    </div>
    <div class="card">
    <h2>Ranking de participación</h2>
    <span id="numUsers">(Número de usuarios: {{numUsers}})</span>
    <iron-list id="userList" items="{{users}}" as="user" scroll-target="html">
      <template>
        <div>
          <div class="personItem" tabindex$="[[tabIndex]]">
            <iron-image class="avatar" sizing="contain" src="[[user.picture]]"></iron-image>
            <div class="pad">
              <div class="primary">[[user.name]]</div>
              <address>
                <div class="userSection">Feedbacks: [[user.numFeedback]]</div>
                <div class="userSection">Kudos: [[user.numKudos]]</div>                
              </address>
            </div>
          </div>
        </div>
      </template>
    </iron-list>
    </div>
    <div class="card">
    
    <h2>Resumen</h2>
    <template is="dom-repeat" items="{{cards}}" as="card">
      <div class="heading" on-click="toggleRanking" data="{{card.id}}" style="background-color:{{card.color}}">
        {{card.titleBlock}} - {{card.title}}
      </div>
      <iron-collapse id="cl_{{card.id}}">
        <div class="content">
          <div>
            <span><b>Feedback:</b></span>
            <div id="id_{{card.id}}"></div>
          </div>
          <div>
            <span><b>Kudos:</b></span>
            <div id="kd_{{card.id}}"></div>
          </div>
        </div>
      </iron-collapse>
    </template>
    </div>
</template>
<script>
 Polymer({ 
    is: 'kudos-stats',
    properties: {
      activeEvent:{
        type: String,
        notify:true
      },
      cards:{
        type: Array,
        notify:true
      },
      users:{
        type: Array,
        notify:true
      },
      listUsers:{
        type: Object,
        notify:true
      },
      numUsers:{
        type: String,
        notify:true
      },
    },
    getCards:function(){
      var ref = firebase.database().ref("eventos/" + this.activeEvent + "/blocks");
      var self = this;
      self.cards = [];
      ref.once("value").then(function(snapshot) {
        snapshot.forEach(function(child) {
          var block = child.val();
          for (var idCard in block.cards) {
            var card={};
            card=block.cards[idCard];
            card.titleBlock=block.title;
            card.color=block.color;
            card.id=idCard;
            self.push('cards', card);  
          }  
        });
      });
    },
    getKudosCard:function(idCard){
      var self=this;
      var users = self.listUsers;
      var esinnovador = 0; var granesfuerzo = 0; var loentiendo = 0; var loqesperaba = 0; var megusta = 0; var mesirve = 0;
      self.$$('#id_' +idCard).innerHTML='';
      self.$$('#kd_' +idCard).innerHTML='';
      var listFeedback='<ul>';
      for (var user in users) {
        for (var card in users[user]) {
          if (card == idCard) {
            var feedback = '';
            var vote = users[user][card];
            for (var prop in vote) {
              if (prop == 'comments') {
                for (var commentProps in users[user][card][prop]) {
                  if (commentProps == 'message') {
                    var message = users[user][card][prop][commentProps];
                    if (message != ' ' && message != '.') {
                      feedback = message;
                    }
                  }
                }
              } else if (prop == 'kudos') {
                var kudos = users[user][card]['kudos'];
                if (kudos.esinnovador == true) { esinnovador++; }
                if (kudos.granesfuerzo == true) { granesfuerzo++; }
                if (kudos.loentiendo == true) { loentiendo++; }
                if (kudos.loqesperaba == true) { loqesperaba++; }
                if (kudos.megusta == true) { megusta++; }
                if (kudos.mesirve == true) { mesirve++; }
              }
            }
            if (feedback.toString().trim().length>0 != '') {
              listFeedback=listFeedback + '<li>'+ feedback + '</li>';
            }
          }
        }
      }
      var _kudos='';
      _kudos = '<div><div class="userSection">Innovador: </div><div class="userSection">'+ esinnovador + '</div></div>' ;
      _kudos = _kudos + '<div><div class="userSection">Gran esfuerzo: </div><div class="userSection">'+ granesfuerzo + '</div></div>' ;
      _kudos = _kudos + '<div><div class="userSection">Lo entiendo: </div><div class="userSection">'+ loentiendo + '</div></div>' ;
      _kudos = _kudos + '<div><div class="userSection">Lo esperaba: </div><div class="userSection">'+ loqesperaba + '</div></div>' ;
      _kudos = _kudos + '<div><div class="userSection">Me gusta: </div><div class="userSection">'+ megusta + '</div></div>' ;
      _kudos = _kudos + '<div><div class="userSection">Me sirve: </div><div class="userSection">'+ mesirve + '</div></div>';
      self.$$('#kd_' +idCard).innerHTML=_kudos;
      self.$$('#id_' +idCard).innerHTML=listFeedback+'</ul>';
    },
    getRanking:function(){
      var self=this;
      firebase.database().ref('eventos/' + this.activeEvent +'/users').on('value',function(snapshot) {
        var users = snapshot.val();
        self.set('listUsers',users);
        var numUsers=0;
        self.users=[];
        for (var user in users) {
          var _user={};
          numUsers++;
          _user.name=users[user].profile.name;
          _user.picture=users[user].profile.picture;
          var numKudos=0;
          var numFeedback=0;
          for (var card in users[user]) {
            var vote = users[user][card];
            for (var prop in vote) {
              if (prop == 'comments') {
                for (var commentProps in users[user][card][prop]) {
                  if (commentProps == 'message') {
                    var message = users[user][card][prop][commentProps];
                    if (message.toString().trim().length>1) {
                      numFeedback++;
                    }
                  }
                }
              } else if (prop == 'kudos') {
                var kudos = users[user][card]['kudos'];
                for(var kudo in kudos){
                  if(kudos[kudo]){
                    numKudos++;
                  }
                }
              }
            }
          }
          _user.numKudos=numKudos;
          _user.numFeedback=numFeedback;
          self.push('users',_user);
          self.users.sort(function(a,b) {return (a.numFeedback > b.numFeedback) ? -1 : ((b.numFeedback > a.numFeedback) ? 1 : 0);} );
        }
        self.numUsers=numUsers;
      });
      
    },
    toggleRanking:function(e) {
      var idCard=Polymer.dom(e).localTarget.data;
      this.getKudosCard(idCard);
      this.$$('#cl_' +idCard).toggle();
    },
  });
</script>
</dom-module>