<link rel="import" href="../bower_components/star-rating/star-rating.html">
<dom-module id="kudos-cards">
  <link rel="import" href="../css/kudo-style.html">
  <template>
    <style include="cards"></style>
    <!-- Bienvenida -->
    <div style="display:table">
      <img id="imgProfile" class="avatar" src="{{userPicture}}">
      <div style="display:table-cell;vertical-align:middle"> ¡Bienvenid@ {{userFirstName}}!</div>
    </div>
    <!-- Lista de Bloques -->
    <template id="arrBlocks" is="dom-repeat" items="{{blocks}}" as="block">
      <paper-card style="width:100%">
        <div>
          <div class="rate-header titleProject" style="height:40px;background:{{block.color}}" on-click="ocultar" data-args$="[[block.title]]">Bloque {{block.title}}
          <paper-icon-button icon="icons:arrow-drop-down" style="float:right;" onclick="ocultar" data-args$="[[block.title]]"></paper-icon-button></div>
        </div>
        <iron-collapse id="clp_[[block.title]]" style="width:100%;">
          <!-- Lista de Tarjetas x Bloque -->
          <template id="arrCards" is="dom-repeat" items="{{_getCards(block)}}" as="card">
            <paper-card class="rate">
              <div class="rate-content">
                <div>
                  <div class="rate-header titleProject" style="background:{{card.color}}">{{card.title}}</div>
                  <div class="rate-name">
                    <div class="div_middle">{{card.description}}</div>
                    <div class="div_feedback">
                      <paper-button class="rate-icon bot" id="{{card.id}}" data='{{card}}' on-click="openBot" style$="display:[[card.withChat]]">
                        Pregúntanos algo<iron-icon icon="communication:live-help" data='{{card}}'></iron-icon>
                      </paper-button>
                      <paper-button class="rate-icon feeback" id="{{card.id}}" data='{{card}}' on-click="openModal">
                        Danos feedback <iron-icon icon="announcement" data='{{card}}'></iron-icon>
                      </paper-button>
                    </div>
                  </div>
                </div>
                <div class="card-actions">
                  <!-- Lista de Kudos X Tarjeta -->
                  <template id="tmtKudo" is="dom-repeat" items="{{kudos}}" as="kudo">
                    {{getKudosUser(card.id,kudo.id)}}
                    <paper-button class="kudo" toggles  id="id_{{card.id}}_{{kudo.id}}" on-click="valorar">
                      <iron-icon icon="{{kudo.icon}}"></iron-icon> {{kudo.title}}
                    </paper-button>
                    <paper-tooltip for="id_{{card.id}}_{{kudo.id}}" position="top" style="max-width:100px;">{{kudo.title}}<br>{{kudo.description}}</paper-tooltip>
                  </template>
                </div>
                <!-- prueba de concepto-->
                <div>
                  <star-rating stars="5" id="star_{{card.id}}" on-click="rankear" ></star-rating>
                  {{getRatingCardUser(card.id)}}
                </div>
              </div>
            </paper-card>
          </template>
        </iron-collapse>
      </paper-card>
    </template>
    <paper-dialog id="feedback" >
      <h2 id="titleFeedback">Feedback para:</h2>
      <paper-textarea id="txtFeedback" label="Escribe tu feedback..."></paper-textarea>
      <div class="buttons">
        <paper-button id="btnFeedback" on-click="sendFeedback" autofocus>Enviar</paper-button>
        <paper-button dialog-dismiss>Cancelar</paper-button>
      </div>
    </paper-dialog>
    <paper-toast id="toastAlert" text="Gracias por tu feedback"></paper-toast>
  </template>
  <script>
      Polymer({
        is: 'kudos-cards',
        properties:{
          activeEvent     : {type:String, notify:true},
          user            : {type:Object, notify:true},
          userFirstName   : {type:String, notify:true},
          userEmail       : {type:String, notify:true},
          userName        : {type:String, notify:true},
          userPicture     : {type:String, notify:true},
          error           : {type:Object, value:null, notify:true },
          cards           : {type:Array, notify:true},
          blocks          : {type:Array, notify:true},
          kudos           : {type:Array, notify:true},
        },
        ocultar: function(e) {
          this.$$('#clp_'+e.target.dataset.args).toggle();
        },
        ready: function(){
        },
        getKudos:function(){
            var self = this;
            firebase.database().ref('eventos/' + this.activeEvent + '/kudos').once('value').then(function(snapshot) {
              self.kudos = [];
              snapshot.forEach(function(child) {
                var kudo = child.val();
                kudo.id=child.key;
                self.push('kudos', kudo);
              });
            });
          },
        getBlocks:function(){
          var ref = firebase.database().ref("eventos/" + this.activeEvent + "/blocks");
          var self = this;
          ref.once("value").then(function(snapshot) {
            self.blocks = [];
            snapshot.forEach(function(child) {
              var block = child.val();
              self.push('blocks', block);
            });
          });
        },
        _getCards:function(block){
          this.cards = [];
          self = this;
          for (var card in block.cards) {
            var newCard = { id:card, title:block.cards[card].title, description:block.cards[card].description,
              leader:block.cards[card].leader, color:block.cards[card].color, withChat:block.cards[card].withChat };
            //parameters
            newCard.objetivo        =block.cards[card].parameters.objetivo;
            newCard.detalles        =block.cards[card].parameters.detalles;
            newCard.metrica         =block.cards[card].parameters.metrica;
            newCard.customer        =block.cards[card].parameters.customer;
            newCard.canal           =block.cards[card].parameters.canal;
            newCard.ambiente        =block.cards[card].parameters.ambiente;
            newCard.ambiente_fecha  =block.cards[card].parameters.ambiente_fecha;
            newCard.tiempo          =block.cards[card].parameters.tiempo;
            newCard.participantes   =block.cards[card].parameters.participantes;
            newCard.diferencias     =block.cards[card].parameters.diferencias;
            newCard.limitaciones    =block.cards[card].parameters.limitaciones;
            newCard.marketing       =block.cards[card].parameters.marketing;
            self.push('cards', newCard);
          }
          return this.cards;
        },
        openBot:function(e){
          var btnCard = Polymer.dom(e).localTarget;
          this.fire('showChatbot', btnCard);
        },
        openModal:function(e){
          var btnCard = Polymer.dom(e).localTarget;
          var card = btnCard.data;
          var self=this;
          this.$.txtFeedback.value="";
          this.$.btnFeedback.data=card.id;
          this.$.titleFeedback.innerHTML="Feedback para:<br>" + card.title;
          this.$.feedback.open();
          var ref = firebase.database().ref("eventos/" + this.activeEvent + "/users/" + this.userEmail+ "/"+ card.id + "/comments");
          ref.once('value').then(function(snapshot) {
            var msg="";
            if(snapshot.val()!=null){
              msg=snapshot.val().message;
            }
            self.$.txtFeedback.value=msg;
          });
        },
        sendFeedback:function(){
          var db = firebase.database();
          var idCard=this.$.btnFeedback.data;
          var msg=this.$.txtFeedback.value;
          if(msg.trim().length==0){this.$.feedback.close();return;}
          var ref = db.ref("eventos/" + this.activeEvent + "/users/" + this.userEmail);
          var postData = {
            //author: this.userUid,
            message: msg
          };
          var userData = {
            name: this.userName,
            picture: this.userPicture
          };
          //var newPostKey = ref.child('comments').push().key;
          var updates = {};

          updates["/" +idCard + "/comments"] = postData;
          updates["/profile"] = userData;
          ref.update(updates);
          this.$.txtFeedback.value="";
          this.$.feedback.close();
          this.$.toastAlert.open();
        },
        valorar:function(e) {
          var kudoSeleccionado = e.model['__data__'];
          var idKudo = kudoSeleccionado.kudo.id;
          var idCard = kudoSeleccionado.card.id;
          var idBtnKudo=this.$$('#id_' +idCard +'_' +idKudo);
          var voto = 1;
          if (!idBtnKudo.active){
            voto = -1;
          }
          var refControl = firebase.database().ref('eventos/' + this.activeEvent +'/users').child(this.userEmail);
          if(voto > 0) {
            var updates = {};
            updates["/" + idCard + "/kudos/" + idKudo] = true;
            var userData = {
              name: this.userName,
              picture: this.userPicture
            };
            updates["/profile"] = userData;
            refControl.update(updates);
          } else {
            firebase.database().ref('eventos/' + this.activeEvent +'/users').child(this.userEmail).child(idCard).child('kudos').child(idKudo).remove();
          }
        },
        getKudosUser:function(idCard,idKudo){
          self=this;
          var ref = firebase.database().ref("eventos/" + this.activeEvent + "/users/" + this.userEmail + "/" + idCard + "/kudos/" + idKudo);
          ref.once('value').then(function(snapshot) {
            if(snapshot.val()!=null){
                self.$$('#id_' +idCard +'_' +idKudo).active=snapshot.val();
            }
          });
        },
        getRatingCardUser:function(idCard){
          self=this;
          var ref = firebase.database().ref("eventos/" + this.activeEvent + "/users/" + this.userEmail + "/" + idCard + "/rating");
          ref.once('value').then(function(snapshot) {
            var numStars=0;
            if(snapshot.val()!=null){
              numStars=snapshot.val();
              self.stars=numStars;
            }
            self.$$('#star_' +idCard).rate=numStars;
          });
        },
        rankear:function(e) {
          var data = e.model['__data__'];
          var idCard = data.card.id;
          var ratingCard = this.$$('#star_' + idCard).rate;
          var ref = firebase.database().ref("eventos/" + this.activeEvent + "/users/" + this.userEmail + "/" + idCard );
          ref.update({rating: ratingCard});
        }
      });
    </script>
</dom-module>
