<dom-module id="kudos-stats">
<link rel="import" href="../css/kudo-style.html">
<template id="tmpkudoStats">
   <style include="about-estilo"></style>
    <style include="kudos"></style>
    <div class="card">
        <h1>Resultados macrocomité 4T</h1>
        <template>
          <h1>Total de participantes: 3</h1>
        </template>
        <template>
          <h1>Participantes con mayor participación</h1>
        </template>
    </div>
</template>
<script>
 Polymer({ 
    is: 'kudos-stats',
    properties: {
      
    },
    ready: function(){},
    attached: function(){}
  });
</script>
</dom-module>