<dom-module id="kudos-cards">
<link rel="import" href="../css/kudo-style.html">
    <template>
        <style include="cards"></style>
        <img id="imgProfile" class="avatar" src="{{userPicture}}">
        ¡Bienvenido {{userName}}!
        <template id="resultList" is="dom-repeat" items="{{blocks}}" as="block">
          <template is="dom-repeat" items="{{_getCards(block)}}" as="card">
          <paper-card class="rate">
            <div class="rate-content">
              <div>
                <div class="rate-header titleProject" style="background:{{card.color}}">{{block.title}}</div>
                  <div class="rate-name">
                    <div class="div_middle">
                      <b>{{card.title}}</b> <br>
                      {{card.description}}
                    </div>
                    <div class="div_feedback">
                      <paper-button class="rate-icon bot" id="{{card.id}}" data='{{card}}' on-click="openBot">
                        Pregúntanos <iron-icon icon="communication:live-help" data='{{card}}'></iron-icon>
                      </paper-button>
                      <paper-button class="rate-icon feeback" id="{{card.id}}" data='{{card}}' on-click="openModal">
                        Danos feedback <iron-icon icon="announcement" data='{{card}}'></iron-icon>
                      </paper-button>
                    </div>
                  </div>
              </div>
                <div class="card-actions">
                  <template id="tmtKudo" is="dom-repeat" items="{{kudos}}" as="kudo">
                    {{getKudosUser(card.id,kudo.id)}}
                    <paper-button class="kudo" toggles  id="id_{{card.id}}_{{kudo.id}}" on-click="valorar">
                      <iron-icon icon="{{kudo.icon}}"></iron-icon> {{kudo.title}}
                    </paper-button>
                    <paper-tooltip for="id_{{card.id}}_{{kudo.id}}" position="top" style="max-width:100px;">{{kudo.title}}<br> {{kudo.description}}</paper-tooltip>
                  </template>
                </div>
          </paper-card>
          </template>
        </template>
        <paper-dialog style="overflow-y:scroll;z-index:1000" id="bot">
          <div>
            <h2 id="titleBot"></h2>
              <template is="dom-repeat" items="{{mensajes}}">
                  <div class$="[[item.align]]">[[item.from]] dice: [[item.message]]</div>
              </template>
            [[userFirstName]]
            <paper-textarea id="txtMessage" label="Ingresa tu pregunta..."></paper-textarea>
            <div class="buttons">
              <paper-button id="btnSendMessage" on-click="sendMessage" autofocus>Enviar</paper-button>
              <paper-button dialog-dismiss on-click="closeBot">Cerrar</paper-button>
            </div>
          </div>
        </paper-dialog>
        <iron-ajax id="api" url="https://api.api.ai/v1/query" params='{"v":"20150910"}'
          headers='{"Authorization": "Bearer 7324e6390faf48fca8c4eb7fb9cc2120","Content-Type": "application/json"}'
          method='POST' body='{{apiRequestBody}}' on-response="apiResponseHandler" handle-as="json" verbose="true" debounce-duration="300"></iron-ajax>
        <paper-dialog id="feedback" >
          <h2 id="titleFeedback">Feedback para:</h2>
          <paper-textarea id="txtFeedback" label="Ingresa tu feedback..."></paper-textarea>
          <div class="buttons">
            <paper-button id="btnFeedback" on-click="sendFeedback" autofocus>Enviar</paper-button>
            <paper-button dialog-dismiss>Cancelar</paper-button>
          </div>
        </paper-dialog>
        <paper-toast id="toastAlert" text="Gracias por tu feedback"></paper-toast>
    </template>
    <script>
      Polymer({
        is: 'kudos-cards',
        properties:{
          activeEvent     : {type:String, notify:true},
          user            : {type:Object, notify:true},
          userFirstName   : {type:String, notify:true},
          userEmail       : {type:String, notify:true},
          userName        : {type:String, notify:true},
          userPicture     : {type:String, notify:true},
          error           : {type:Object, value:null, notify:true },
          cards           : {type:Array, notify:true},
          blocks          : {type:Array, notify:true},
          kudos           : {type:Array, notify:true},
          mensajes        : {type:Array, value:function() { return []}},
          apiRequestBody  : {type:Object}
        },
        apiResponseHandler: function(data) {
          var btnCard = Polymer.dom(e).localTarget;
          var card = btnCard.data;
          console.log("hs>", card);
          console.log("hs:", data.detail.response);
          var tmpText = data.detail.response.result.fulfillment.speech;
          var newText = newText.replace("||ambiente||",card.ambiente);
          var newMessage = { from: card.leader, message: newText, align: "bot_label"};
          this.push('mensajes', newMessage);
        },
        getKudos:function(){
          var self = this;
          firebase.database().ref('eventos/' + this.activeEvent + '/kudos').once('value').then(function(snapshot) {
            self.kudos = [];
            snapshot.forEach(function(child) {
              var kudo = child.val();
              kudo.id=child.key;
              self.push('kudos', kudo);
            });
          });
        },
        getBlocks:function(){
          var ref = firebase.database().ref("eventos/" + this.activeEvent + "/blocks");
          var self = this;
          ref.once("value").then(function(snapshot) {
            self.blocks = [];
            snapshot.forEach(function(child) {
              var block = child.val();
              self.push('blocks', block);
            });
          });
        },
        _getCards:function(block){
          this.cards=[];
          self=this;
          for (var card in block.cards) {
            var _card={};
            _card.titleBlock=block.title;
            _card.id=card;
            _card.title=block.cards[card].title;
            _card.leader=block.cards[card].leader;
            _card.description=block.cards[card].description;
            _card.color=block.color;
            _card.ambiente=block.cards[card].parameters.ambiente;
            self.push('cards', _card);
          }
          return this.cards;
        },
        openBot:function(e){
          var btnCard = Polymer.dom(e).localTarget;
          var card = btnCard.data;
          var self=this;
          this.$.txtMessage.value="";
          this.$.btnSendMessage.data=card.id;
          this.$.titleBot.innerHTML=card.title;
          this.$.bot.open();

          this.set("apiRequestBody", { query : [ "Iniciar con " + this.userFirstName + " en " +card.id ], lang: "es", sessionId: this.userEmail});
          this.$.api.generateRequest();

          var ref = firebase.database().ref("eventos/" + this.activeEvent + "/users/" + this.userEmail+ "/"+ card.id + "/comments");
          ref.once('value').then(function(snapshot) {
            var msg="";
            if(snapshot.val()!=null){
              msg=snapshot.val().message;
            }
            self.$.txtMessage.value=msg;
          });
        },
        openModal:function(e){
          var btnCard = Polymer.dom(e).localTarget;
          var card = btnCard.data;
          var self=this;
          this.$.txtFeedback.value="";
          this.$.btnFeedback.data=card.id;
          this.$.titleFeedback.innerHTML="Feedback para:<br>" + card.title;
          this.$.feedback.open();
          var ref = firebase.database().ref("eventos/" + this.activeEvent + "/users/" + this.userEmail+ "/"+ card.id + "/comments");
          ref.once('value').then(function(snapshot) {
            var msg="";
            if(snapshot.val()!=null){
              msg=snapshot.val().message;
            }
            self.$.txtFeedback.value=msg;
          });
        },
        sendMessage:function(){
          var newMessage = { from: this.userFirstName, message: this.$.txtMessage.value, align: "human_label"};
          this.push('mensajes', newMessage);
          this.set("apiRequestBody", { query : [ this.$.txtMessage.value ], lang: "es", sessionId: this.userEmail});
          this.$.api.generateRequest();
          this.$.txtMessage.value = "";
        },
        closeBot:function(){
          this.set('mensajes', []);
        },
        sendFeedback:function(){
          var db = firebase.database();
          var idCard=this.$.btnFeedback.data;
          console.log(idCard);
          var msg=this.$.txtFeedback.value;
          if(msg.trim().length==0){this.$.feedback.close();return;}
          var ref = db.ref("eventos/" + this.activeEvent + "/users/" + this.userEmail);
          var postData = {
            //author: this.userUid,
            message: msg
          };
          var userData = {
            name: this.userName,
            picture: this.userPicture
          };
          //var newPostKey = ref.child('comments').push().key;
          var updates = {};

          updates["/" +idCard + "/comments"] = postData;
          updates["/profile"] = userData;
          ref.update(updates);
          this.$.txtFeedback.value="";
          this.$.feedback.close();
          this.$.toastAlert.open();
        },
        valorar:function(e) {
          var kudoSeleccionado = e.model['__data__'];
          var idKudo = kudoSeleccionado.kudo.id;
          var idCard = kudoSeleccionado.card.id;
          var idBtnKudo=this.$$('#id_' +idCard +'_' +idKudo);
          var voto = 1;
          if (!idBtnKudo.active){
            voto = -1;
          }
          var refControl = firebase.database().ref('eventos/' + this.activeEvent +'/users').child(this.userEmail);
          if(voto > 0) {
            var updates = {};
            updates["/" + idCard + "/kudos/" + idKudo] = true;
            var userData = {
              name: this.userName,
              picture: this.userPicture
            };
            updates["/profile"] = userData;
            refControl.update(updates);
          } else {
            firebase.database().ref('eventos/' + this.activeEvent +'/users').child(this.userEmail).child(idCard).child('kudos').child(idKudo).remove();
          }
        },
        getKudosUser:function(idCard,idKudo){
          self=this;
          var ref = firebase.database().ref("eventos/" + this.activeEvent + "/users/" + this.userEmail + "/" + idCard + "/kudos/" + idKudo);
          ref.once('value').then(function(snapshot) {
            if(snapshot.val()!=null){
                self.$$('#id_' +idCard +'_' +idKudo).active=snapshot.val();
            }
          });
        }
      });
    </script>
</dom-module>
